body{
    margin: auto;
    padding: auto;
    background: url(Money2.jpg);
    background-size:cover;
    background-position: auto;
    font-family: sans-serif;
}













































