<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Finance Management System </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/formoney.css' %}">
    </head>
    <body>

<form action="formoney1", method="POST">
    {%csrf_token%}
    <center>
    <br>
    <br>
    <br>
    <br>
    <nav class="main_nav">

         <h Finance Management System></h>
        <ul class="d-flex flex-row align-items-start justify-content-start">
            


            
            {% if user.is_authenticated %}
        <b> <li> Hello, {{user.first_name}}</li>
            <li> <a href="logout">logout</a></li></b>
            <br>
            <br>
            <br>
            <br>
            <br>
            {{A}}
        </form>
<body>
    <div class="login-box">
        <img src="static/images/rs.jpg" class="rs">
            
    <form action="income", method="POST"> 
                {%csrf_token%}
        <h1>Income-{{totalsalary}}<br></h1>
            <input type="submit" name="submit" value="ADD">
<br>
            <form action="formoney", method="POST">
                   {%csrf_token%}
            
        </form>


            <form action="addspending", method="POST"> 
                {%csrf_token%}
            <h1>Spend-{{spendingmoney}}</h1><br>
           
            <input type="submit" name="submit" value="ADD">


            <h1>   Balance: {{balance}} </h1>
            
        </form>

    
        <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
        </script>
        <script type = "text/javascript">
           google.charts.load('current', {packages: ['corechart']});     
        </script>
        </head>
        
        <body>
        <div id = "container" style = "width: 450px; height: 300px; margin: 0 auto">
        </div>
        <script language = "JavaScript">
           function drawChart() {
              // Define the chart to be drawn.
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Browser');
              data.addColumn('number', 'Percentage');
              data.addRows([
                 ['Food', {{f}}],
                 ['Rent', {{r}}],
                 ['Transport',{{t}}],
                 ['others', {{o}}],
                 
              ]);
                 
              // Set chart options
              var options = {
                 'title':'Finance Management system',
                 'width':550,
                 'height':400
              };
              var options = {
                     'title':'Spending chart',
                     'width':450,
                     'height':300,
                     'top':60,
                     'left':40,
                     'backgroundColor':'transparent',
                     legend : { position : 'Top' },
                     chartArea: {
                      right:10,
                      top: 80,
                      width: '100%',
                      height: '100%'

                  },

    
                  };

              // Instantiate and draw the chart.
              var chart = new google.visualization.PieChart(document.getElementById('container'));
              chart.draw(data, options);
           }
           google.charts.setOnLoadCallback(drawChart);
        </script>    
        
    
           

            {% else %}
            
            <li><a href="register"><h2>Register</h2></a></li>

            <li><a href="login"><h2>Login</h2></a></li>
            {% endif %}
        </ul>
    </nav>
   
    </center>

    
    

</body>
</html>