{% extends "base.html" %}
{% block content %}

<form action="add", method="POST">
    {%csrf_token%}
    <center>
    <br>
    <br>
    <br>
    <br>
    <nav class="main_nav">

         <h Finance Management System></h>
        <ul class="d-flex flex-row align-items-start justify-content-start">
            


            
            {% if user.is_authenticated %}
            <li> Hello, {{user.first_name}}</li>
            <li> <a href="logout">logout</a></li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <li> <h1> <a href="income">income</a></li> </h1>
            <li><h1><a href="spendmoney">spend money</a></li> </h1>
            <li><h1> <a href="more spending">more spending</a></li> </h1>
            
           

            {% else %}
            <li><a href="register"><h2>Register</h2></a></li>
            <li><a href="login"><h2>Login</h2></a></li>
            {% endif %}
        </ul>
    </nav>
   
    
{% endblock %}