
       <!DOCTYPE html>
       <html lang="en">
           <head>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <title> Finance</title>
       <style>
        div {
          background-image: url('/static/bgmoney.jpg');
        }
        </style>
        </head>
        <h1><center> Finance Management System </center> </h1>
        <body 
        body {
          background-image: url('bgmoney.jpg)';
        }
        bgcolor="yellow">
            {% block content %}
            {% endblock %}
            </body>