<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Finance Management System </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/spending.css' %}">
    </head>
    <body>
        <div class="login-box">
            <img src="static/images/rs.jpg" class="rs">
                <h1>EXPENSE</h1>
            <form action="formoney", method="POST">
                {% csrf_token %}
              <h4>
               FOOD: <input type="number" name="Food" value=0>
               RENT: <input type="number" name="Rent" value=0 >
               TRANSPORT: <input type="number" name="Transport" value=0 >
               OTHERS: <input type="number" name="Others" value=0>
            </h4>    
                    <input type="submit" name="submit" value="Submit">
                       
            </form>
</div>


    
</body>
</html>