
       <!DOCTYPE html>
       <html lang="en">
           <head>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <title> Finance</title>
        </head>
        <h1><center> Finance Management System </center> </h1>
          <h2>Adding income</h2>
        <body bgcolor="yellow">
            <form action="add2", method="POST">
                {% csrf_token %}
                
                Income:<input type="number" name="salary"><br>
                
                <button type='submit'>submit</button>
               
                </form>

            </body>
            </html>