{% extends "base.html" %}
{% block content %}

<form action="formoney1", method="POST">
    {%csrf_token%}
    <center>
    <br>
    <br>
    <br>
    <br>
    <nav class="main_nav">

         <h Finance Management System></h>
        <ul class="d-flex flex-row align-items-start justify-content-start">
            


            
            {% if user.is_authenticated %}
            <li> Hello, {{user.first_name}}</li>
            <li> <a href="logout">logout</a></li>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <li> <h1> <a href="income">Income</a> -{{totalsalary}}</li></form> 
                <form action="addincome", method="POST"> 
                    {%csrf_token%}
            </h1><button type='submit'>Add</button></form> 

            <form action="formoney", method="POST">
                {%csrf_token%}
            <li><h1><a href="spendmoney">Spend money</a> -{{spendingmoney}}</li> </h1> 
        </form>


            <form action="addspending", method="POST"> 
                {%csrf_token%}
            </h1><button type='submit'>Add</button> </form>

            <form action="formoney", method="POST">
                {%csrf_token%}
            <li><h1> <a href="Balance">Balance</a> -{{balance}}</li> </h1>
            <li><h1> <a href="morespending">more spending</a> </li> </h1>
            
           

            {% else %}
            <li><a href="register"><h2>Register</h2></a></li>
            <li><a href="login"><h2>Login</h2></a></li>
            {% endif %}
        </ul>
    </nav>
   
    </center>

    
    </form>
{% endblock %}