<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Finance Management System </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    
</head>
<body>
    <div class="login-box">
        <img src="static/images/rs.jpg" class="rs">
            <h1>Login Here</h1>
    <form action="login" method="post">
        {% csrf_token %}
        <p>Username</p>
            <input type="text" name="username" required="">
            <p>Password</p>
            <input type="password" name="password" required="">
            <input type="submit" name="submit" value="Login">
            <p><font size="3" color="red">If you not Member</font></p>
            
            <h1><a  href="register"><font size="5" color="yellow">Register</a></font></h1>
               
    </form>

    
    
        <div>
            {% for message in messags %}
            <h3>{{messages}}</h3>
            {% endfor %}
        </div>
    
</body>
</html>
    