<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Finance Management System </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/addspending.css' %}">
    </head>
    <body>
        <div class="login-box">
            <img src="static/images/rs.jpg" class="rs">
                <h1>EXPENSE</h1>
            <form action="formoney", method="POST">
                {% csrf_token %}
                <input type="number" name="expense" required="">
                    
                    <input type="submit" name="submit" value="Submit">
                       
            </form>
</div>
    
    
</body>
</html>