
       <!DOCTYPE html>
       <html lang="en">
           <head>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <title> Finance</title>
        </head>
        <h1><center> Finance Management System </center> </h1>
          <h2>Spending Money</h2>
        <body bgcolor="yellow">
            <form action="formoney", method="POST">
                {% csrf_token %}
                <pre>
                INCOME:      <input type="text" name="income"><br>
                EXPENSE:      <input type="text" name="expense"><br>
                
                
                <button type='submit'>submit</button>
                </pre>
                </form>

            </body>
            </html>