<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Finance Management System </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
    
</head>
<body>
    <div class="login-box">
    <img src="static/images/rs.jpg" class="rs">
        <h1>Registration</h1>
  
  <form action="register" method="POST"> 
        {%csrf_token%}

        <input type="text" name="first_name" placeholder="First Name" required=""><br>
        <input type="text" name="last_name" placeholder="Last Name" required=""><br>
        <input type="text" name="username" placeholder="Username" required=""><br>
        <input type="email" name="email" placeholder="email" required=""><br>
        <input type="password" name="password1" placeholder="Password" required=""><br>
        <input type="password" name="password2" placeholder="Confirm Password" required=""><br>
        <input type="submit">

    </form>
    <div>

        {% for message in messages %}
        <h3 style="color:red"><b>{{message}}</h3></b>
        {% endfor %}
    </div>
</body>
</html>